.Log-In {
    display: flex;
    align-items: center;
    width: 178px;
    height: 30px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 6px;
    background-color: #18285F;
    user-select: none;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
    gap: 10px;
}

.Log-In img {
    width: 36px;
    height: 100%;
}

.Log-In p {
    color: #ffffff80;
    font-size: 12px;
    transition: .3s;
}

.Log-In:hover {
    background-color: #1b2f72;
}

.Log-In:hover p {
    color: #fff;
}